@inherits LayoutComponentBase

<div class="page">
<header class="top-header">
        <a href="" class="d-flex align-items-center text-decoration-none">
            <img src="images/logo-petcare-white2.png" 
                 alt="PetCare Logo" 
                 style="height: 40px; width: auto;" />
        </a>
    </header>

    <main class="content px-3 py-3">
        @Body
    </main>

    <nav class="bottom-nav">
        <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
            <i class="bi bi-house-door-fill"></i> <span>Home</span>
        </NavLink>

        <NavLink class="nav-item" href="pets">
            <i class="bi bi-postcard-heart-fill"></i> <span>Pets</span>
        </NavLink>

        <NavLink class="nav-item" href="visits">
            <i class="bi bi-calendar-event-fill"></i> <span>Visits</span>
        </NavLink>

        <NavLink class="nav-item" href="bills">
            <i class="bi bi-receipt-cutoff"></i> <span>Bills</span>
        </NavLink>
    </nav>
</div>