.image-upload-container {
    position: relative;
    display: inline-block;
}

.image-preview {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .image-preview img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.upload-btn {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 10;
}
