@page "/login"
@layout LoginLayout
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@using PetCare.MobileApp.Services
@using PetCare.Shared.Dtos
@using PetCare.MobileApp.Auth
@attribute [AllowAnonymous]
@inject IApiService ApiService
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Navigation

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4" style="width: 300px;">
        <h3 class="text-center mb-4">Logowanie</h3>

        <EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator />
            
            <div class="mb-3">
                <label class="form-label">Email</label>
                <InputText @bind-Value="loginModel.Email" class="form-control" placeholder="enter email" />
            </div>

            <div class="mb-3">
                <label class="form-label">Hasło</label>
                <InputText @bind-Value="loginModel.Password" type="password" class="form-control" placeholder="enter password" />
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>
            
            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="alert alert-danger mt-3 p-2 text-center">
                    @errorMessage
                </div>
            }
            <div class="text-center mt-3">
                <a href="register">New here? Register</a>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private LoginRequest loginModel = new();
    private string errorMessage;

    private async Task HandleLogin()
    {
        errorMessage = null;

        try
        {
            var response = await ApiService.PostAsync<LoginRequest, AuthResponse>("api/auth/login", loginModel);

            if (response != null && response.Success)
            {
                if (response.Role != "Client") 
            {
                errorMessage = "This application is intended for clients only. Veterinarians are requested to log into the web panel.";
                
                SecureStorage.Remove("auth_token");

                return;
            }

                var customProvider = (CustomAuthStateProvider)AuthStateProvider;
                
                customProvider.MarkUserAsAuthenticated(loginModel.Email);
                
                await SecureStorage.SetAsync("auth_token", response.Token);

                Navigation.NavigateTo("/");
            }
            else
            {
                errorMessage = response.ErrorMessage ?? "Login failed.";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Connection error: {ex.Message}";
        }
    }
}